n8n_templates/Update-Rows-Multi.json
{
  "name": "Update-Rows-Multi",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Update-Row-Multi",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ],
      "id": "db7f59ba-925e-4af4-a56e-9737f91ca121",
      "name": "Webhook",
      "webhookId": "edab9d3f-1654-4b99-aa92-41c14990bc59"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Row Updated",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1320,
        0
      ],
      "id": "7ffd2a32-12c1-4513-9a87-a0d668ce459d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1z0Kxr1JH4HM4xsA2N1AHoXCm1yBfnl7R3Ui1EK92dao",
          "mode": "list",
          "cachedResultName": "Links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z0Kxr1JH4HM4xsA2N1AHoXCm1yBfnl7R3Ui1EK92dao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Meeting",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Meeting Name"
          ],
          "schema": [
            {
              "id": "Meeting Name",
              "displayName": "Meeting Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "webhookUrl",
              "displayName": "webhookUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "executionMode",
              "displayName": "executionMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "doc",
              "displayName": "doc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sheet",
              "displayName": "sheet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rowIndex",
              "displayName": "rowIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "firstDataRow": "={{ $('Webhook').item.json.body.rowIndex }}"
            }
          },
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        920,
        -100
      ],
      "id": "ad483af3-2db5-4635-b129-69b9e6d9bbec",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U18I4PNJLLzjGl28",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1z0Kxr1JH4HM4xsA2N1AHoXCm1yBfnl7R3Ui1EK92dao",
          "mode": "list",
          "cachedResultName": "Links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z0Kxr1JH4HM4xsA2N1AHoXCm1yBfnl7R3Ui1EK92dao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "mixed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z0Kxr1JH4HM4xsA2N1AHoXCm1yBfnl7R3Ui1EK92dao/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Link": "={{ $('Webhook').item.json.body.values[1] }}",
            "Keywords": "={{ $('Webhook').item.json.body.values[2] }}",
            "Summary": "={{ $('Webhook').item.json.body.values[3] }}",
            "Status": "={{ $('Webhook').item.json.body.values[4] }}",
            "Find": "={{ $('Webhook').item.json.body.values[5] }}",
            "Content": "={{ $('Webhook').item.json.body.values[6] }}",
            "Ready": "={{ $('Webhook').item.json.body.values[7] }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Find",
              "displayName": "Find",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ready",
              "displayName": "Ready",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "firstDataRow": "={{ $('Webhook').item.json.body.rowIndex }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        920,
        100
      ],
      "id": "ad381554-b5b6-48af-9db4-7fa6e48de0ed",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U18I4PNJLLzjGl28",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.doc }}",
                    "rightValue": "Links",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6f33f433-366a-4063-afbe-6b74293fc0ed"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        220,
        0
      ],
      "id": "7bf16b37-b009-40f5-817a-61b2e27b9b53",
      "name": "Doc Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.sheet }}",
                    "rightValue": "Meeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5a72448d-0f5e-4933-9146-b6d7556350b7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e6dcab17-792c-4d31-bee8-ba5ec30f9350",
                    "leftValue": "={{ $('Webhook').item.json.body.sheet }}",
                    "rightValue": "mixed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        420,
        0
      ],
      "id": "bcec2f74-3005-4f1f-9cf8-6c5ec43d1a5b",
      "name": "Sheet Switch"
    },
    {
      "parameters": {
        "jsCode": "const data = { ...items[0].json.body };\n\n// Remove unwanted keys\ndelete data.doc;\ndelete data.sheet;\ndelete data.rowIndex;\n\nreturn [\n  {\n    json: data\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "81c60a17-c071-40a9-8df7-99b801e3f03e",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Doc Switch": {
      "main": [
        [
          {
            "node": "Sheet Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet Switch": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Doc Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "qZhNcwxKb3aFaGse"
  },
  "versionId": "7050b597-bbee-40e4-8280-009bf0d56170",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f4dfc66dfb2193fdbf74ffebb6d293ef62cd1e60c603a322c6518e41d57edcf8"
  },
  "id": "HaW2lnzW1McWN263",
  "tags": []
}